.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 254.8373565673828px;
  height: auto;
  padding-top: 34px;
  margin-left: auto;
  margin-right: auto;
}

.header__logo-image {
  max-width: 32px;
  height: auto;
}

.header__logo-text {
  padding-top: 22px;
}

@media screen and (max-width: 540px) {
  .header__logo {
    max-width: 188px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .header__logo-image {
    max-width: 23.6px;
  }

  .header__logo-text {
    max-width: 188.6197967529297px;
  }
}
